header nav ul, header nav {
  display: flex;
  justify-content: center;
  align-items: center;
}

.introduce .one, header nav {
  background: #B19D9D;
  color: #fff;
}

.photo .myinformation2 p, .photo .myinformation p {
  padding: 10px;
  color: black;
  background: #fff;
  border: 1px;
  border-radius: 10%;
}

* {
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
}

header nav {
  position: fixed;
  width: 100%;
  height: 70px;
  z-index: 1;
}
header nav h3 {
  font-size: 25px;
}
header nav ul {
  position: absolute;
  top: 2.3vh;
  right: 10vw;
}
header nav ul img {
  width: 40px;
}
header nav ul li {
  height: 40px;
  border: 1px;
  border-radius: 50%;
  margin-left: 80px;
  color: #fff;
}
header nav ul li:hover {
  background: #fff;
  color: #B19D9D;
  transition: 0.5s;
}

.photo {
  position: relative;
  display: flex;
  align-items: center;
  height: 700px;
  color: #fff;
}
.photo::after {
  content: " ";
  background-image: url("/photo/introduce.png");
  position: absolute;
  width: 100%;
  height: 100%;
  top: 70px;
  left: 0;
  background-size: contain;
  background-repeat: no-repeat;
  z-index: -1;
}
.photo .myinformation {
  display: none;
  position: absolute;
  top: 8vh;
  right: 16.5vw;
  z-index: 1;
}
.photo .myinformation2 {
  display: none;
  position: absolute;
  top: 8vh;
  right: 3vw;
  z-index: 1;
}
.photo .school {
  position: absolute;
  top: 1vh;
  right: 95vw;
  z-index: 1;
  width: 50px;
}
.photo .subject {
  position: absolute;
  top: 3vh;
  right: 87vw;
  z-index: 1;
}
.photo .face {
  width: 250px;
  height: 250px;
  border: 1px;
  border-radius: 50%;
  margin-left: 8%;
  margin-top: 4%;
  margin-right: 25%;
}
.photo h2 {
  font-size: 30px;
  margin-bottom: 5vh;
}

.introduce {
  display: flex;
  height: 400px;
  margin-top: 5px;
}
.introduce .one {
  width: 50%;
  display: flex;
  align-items: center;
  flex-direction: column;
}
.introduce .one h3 {
  margin-top: 40px;
  margin-bottom: 40px;
}
.introduce .one p {
  width: 400px;
}
.introduce .two {
  width: 50%;
  background: #f1e4e4;
}
.introduce .two h3 {
  text-align: center;
  margin-top: 40px;
  margin-bottom: 40px;
}
.introduce .two ul {
  margin-left: 150px;
  display: flex;
  flex-direction: column;
}
.introduce .two ul li {
  display: flex;
  align-items: center;
  margin-bottom: 15px;
}
.introduce .two ul li img {
  width: 50px;
  display: inline-block;
  margin-right: 20px;
}
.introduce .two ul li .per1 {
  width: 60%;
  background: #fff;
  border: 2px solid #6d6666;
  border-radius: 10%;
}
.introduce .two ul li .per2 {
  width: 50%;
  background: #fff;
  border: 2px solid #6d6666;
  border-radius: 10%;
}
.introduce .two ul li .per3 {
  width: 30%;
  background: #fff;
  border: 2px solid #6d6666;
  border-radius: 10%;
}
.introduce .two ul li .per4 {
  width: 60%;
  background: #fff;
  border: 2px solid #6d6666;
  border-radius: 10%;
}

.introduce2 .one {
  text-align: center;
}
.introduce2 .one h3 {
  margin-top: 5%;
  margin-bottom: 5%;
}
.introduce2 .two {
  text-align: center;
}
.introduce2 .two h3 {
  margin-top: 5%;
  margin-bottom: 5%;
}
.introduce2 .two p {
  width: 600px;
  position: relative;
  left: 30%;
}
.introduce2 .three {
  margin-left: 10%;
  margin-top: 10%;
}
.introduce2 .three .AI {
  display: flex;
  align-items: center;
}
.introduce2 .three .AI .AI2 img {
  width: 400px;
}
.introduce2 .three .AI .AI3 img {
  width: 805px;
}
.introduce2 .three .paragraph {
  margin-left: 17%;
}
.introduce2 .three .paragraph h3 {
  font-size: 30px;
}
.introduce2 .three .paragraph h4 {
  margin-top: 10%;
  margin-bottom: 100%;
}
.introduce2 .three .paragraph a {
  border: 1px solid #B19D9D;
  padding: 15px 50px;
  background: #B19D9D;
  color: #fff;
  margin-left: -15%;
}
.introduce2 .three .paragraph a:hover {
  background: #fff;
  color: #B19D9D;
  transition: 0.5s;
}
.introduce2 .three .four {
  margin-top: 10%;
  display: flex;
  align-items: center;
  margin-left: 5%;
}
.introduce2 .three .four .headline {
  width: 20%;
}
.introduce2 .three .four .photos img {
  width: 400px;
}
.introduce2 .three .five {
  display: flex;
  align-items: center;
  margin-left: 2%;
  margin-top: 10%;
}
.introduce2 .three .five .photo2 {
  display: flex;
  flex-direction: column;
}
.introduce2 .three .five .photo2 img {
  width: 400px;
}
.introduce2 .three .five .photo3 img {
  width: 345px;
}
.introduce2 .three .five .headline {
  margin-left: 20%;
}

.footer {
  height: 30px;
  background: #B19D9D;
  margin-top: 60px;
  color: #fff;
  text-align: center;
  padding: 5px 0 0;
}/*# sourceMappingURL=me.css.map */